.App {
    text-align: center;
}

.messageBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.messageBlock button {
    height: 36px;
}

.chatBlock {
    height: 400px;
    overflow-y: scroll
}

